:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --palette1: #5c374c;
    --palette2: #985277;
    --palette3: #ce6a85;
    --palette4: #ff8c61;
    --palette5: #faa275;

    --text-color: #dcdcdc;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--palette1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --one-u: 4;
}
